body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    text-align: center;
    font-size: 50px;
}

.Fondo{
   text-align: center;
   margin: 5px 5px;
   padding: 10px;
   grid-template-columns: auto;
   justify-content: center;
}

.Fondo img{
    width: 225px;
    height: 225px;
}

.leyendas{
    text-align: center;
    grid-template-columns: auto auto auto;
    
}

button ul{
    
    text-align: center;
    display: contents;
}

button:hover{
    border-radius: 20px;
    background-color: rgb(208, 223, 215);
    color: rgb(143, 143, 143);
}

nav a{
    display: contents;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    color: black;
    
}

nav ul a{
    display: flexbox;
    color: black;
}

nav ul a:hover{
    text-transform: uppercase;
}

nav a:hover{
    text-transform: uppercase;
}