*{
    text-decoration: none;    
}

body{
    background-color: rgb(46, 42, 42);
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
}

h1{
    color: whitesmoke;
    background-color: black;
    margin-bottom: 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Botones de home*/

.Home{
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    text-align: center;
    border-radius: 30px;
}

nav ul a{
    background-color: gray;
    margin-top: auto;
    border-radius: 10px;
}

nav ul a:hover{
    text-transform: uppercase;
    color: white;
    background-color: gray;
}

/*posicion del encabezado y la imagen*/

header{
    position: relative;
    text-align: center; 
    padding: 0px;
}

.comidas{
    position: relative;
    display: inline-block;
}

.comidas img{
    width: 50%;
    height: 30%;
    border-radius: 40px;
}

/*Parrafos y dietas */

.leyendas{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    position: relative;
    color: whitesmoke;
    padding: 20px;
}

.cuerpo{
    color: whitesmoke;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: italic;
}

footer{
    text-align: end;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
}

